/*form {
    border: 2px solid #5700FF;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 8%;
  }*/
  h2 {
    color: #5700FF;
  }